<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="content-container">
        <div class="text-content">
            <h1>Hotel Recommendation</h1>
            <p>
                Find the perfect pet-friendly hotel for your next getaway – where you and your furry friend are always welcome!
            </p>
            <div class="button-container">
                <a href="/login" class="btn-start">Book Now!</a>
            </div>
        </div>
    </div>
</body>
</html>
